a {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: $primary-color;
}

i {
    cursor: pointer;
}

li {
    list-style: none;
}

.container {
    display: flex;
}

.square:hover {
    border-radius: 30%;
}

.red {
    background-color: $red-color;
}

.yellow {
    background-color: $yellow-color;
}

.green {
    background-color: $green-color;
}

.red, .green, .yellow, .delete-button, .delete-all-button, .fa-trash-alt, .fa-bars {
    transition: all 0.5s;
}

.visible-flex {
    display: flex !important;
}

.not-active {
    display: none !important;
}

.opacity {
    opacity: 0.25;
}
