@media screen and (max-width: 576px) {
    nav {
        position: absolute;
        z-index: 1;
        @include flex-align-column(center);
        display: none;
        width: calc(100vw - 20px);
        height: 100vh;
        border: none;
    }

    .delete-all-button, .fa-bars {
        color: $secondary-color;
        position: absolute;
        top: 25px;
        right: 20px;
    }

    .fa-bars {
        display: block;
    }

    #cards-holder {
        margin-top: 60px;
    }

    .card {
        margin: 35px 35px;
        width: 100%;
    }
}
