nav {
    height: 100vh;
    border-right: 1px solid $secondary-color;
    margin-right: 20px;
    padding-top: 20px;
    color: $secondary-color;
    line-height: 60px;
    text-align: center;

    a {
        color: black;

    }

    .square {
        width: 60px;
        height: 60px;
        margin: 20px 20px;
    }
}

.fa-bars {
    display: none;
}

.delete-all-button, .fa-trash-alt, .fa-bars {
    font-size: 25px;

    &:hover {
        @include color-fontSize(white, 28px);
    }
}
